body {
    margin: 0;
    padding: 0;
}

.abs {
    position: absolute;
}

#ad-content {
    font-family: Arial;
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 100%;
    top: 180px;
}

#header > div {
    display: inline-block;
    color: #fff;
    font-family: Arial;
}

#logo img {
    border-right: 2px solid white;
    width: 135px;
}

#heading {
    width: 163px;
    vertical-align: top;
    padding: 5px 5px;
}

#heading span {
    font-size: 19px;
    text-align: center;
}

.answer {
    text-align: left;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 15px;
}

.a0 {
    margin-top: 25px;
}

.answer input {
    width: 20px;
    height: 17px;
    margin-right: 10px;
}


/*.selected {
    opacity: 0.5;
    cursor: not-allowed;
}*/


/*.selected * {
    cursor: not-allowed;
}*/

.pager {
    top: -111px;
    left: 111px;
    font-size: 16px;
}

.answer.last {
    opacity: 0;
    cursor: not-allowed;
}



.arrows {
    bottom: -320px;
    left: 10px;
    transition: opacity .5s ease-in;
    opacity: 0;
    width: 300px;
}

#back, #next {
    width: 80px;
    bottom: 30px;
    cursor: pointer;
    font-size: 21px;
}

#next {
    right: 0;
}

.arrows img {
    margin: 0 2px;
    transition: opacity .5s ease-in;
    opacity: 1;
    cursor: pointer;
}

.questionaire {
    position: absolute;
    transition: opacity .5s ease-in;
    opacity: 0;
    top: -85px;
}

.question {
    font-size: 25px;
    padding-left: 21px;
    text-align: left;
    padding-right: 21px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

.arrows a {
    text-decoration: underline;
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 36px;
    left: 108px;
}

.thankyou {
    width: 100%;
    top: 15px;
    font-size: 39px;
}

.end_actions {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 2px;
    cursor: pointer;
}

#main, #rma-widget {
    width: 320px;
    height: 480px;
}

#mail-submit {
    margin: 15px;
}

.question {
    font-size: 20px;
}

.answer {
    text-align: left;
    /*font-size: 16px;*/
    margin: 10px 20px;
}